services:
  db:
    image: postgres:16
    container_name: wonga-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
      # start_period: 30s
  
  api:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: wonga-api
    environment:
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Default: Host=db;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
      Jwt__Key: ${JWT_KEY}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
  
  web:
    build:
      context: ./frontend
      dockerfile: dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    container_name: wonga-web
    depends_on:
      - api
    ports:
      - "3000:80"

volumes:
  pgdata: